/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto);
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
div {
  height: 100%;
  width: 100%; }

h1 {
  font-size: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif; }

p {
  font-size: 30px;
  font-family: 'Roboto', sans-serif; }

#fullpage {
  transition: all 1000ms ease;
  text-align: center; }

.pic-text-width {
  width: 1120px; }

.shape-outside {
  shape-outside: circle(50%);
  margin-right: 82px; }

/* Tree Css

https://jsfiddle.net/7L27oz5d/1/

.circle {
  height:131px;
  width:150px;
  border-radius:100px;
  border:2px green solid;
  position:absolute;
}

.red {
  border:red;
}

.green {
  border:green;
}

.one {
  top:107px;
  left:102px;
}

.two {
  top:205px;
  left:102px;
}

.circle:hover {
  border:2px blue solid;
  transition: all .3s;
}
*/
/* About Me */
.home {
  background-color: #ECF2C7; }

.intro {
  background-color: #ECF2C7; }

#section1 h1 {
  margin-top: -100px;
  margin-bottom: 20px; }

/*My work page*/
#mywork h2 {
  font-size: 80px; }
#mywork div {
  width: 350px;
  height: 250px;
  background-color: blue;
  float: left;
  margin-left: 10%;
  margin-top: 60px;
  position: relative;
  border: 2px white solid; }
  #mywork div .projecthover {
    background-color: #de9a44;
    opacity: .8;
    width: 100%;
    height: 180px;
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 0px;
    border: 0px; }
#mywork p {
  font-size: 14px; }
#mywork .project1 {
  background-image: url(http://media.paes.uconn.edu/port/portfolio/img/hangman.jpg); }
#mywork .project2 {
  background-image: url(http://media.paes.uconn.edu/port/portfolio/img/seo.jpg); }
#mywork .project3 {
  background-image: url(http://media.paes.uconn.edu/port/portfolio/img/csszengarden.jpg); }
#mywork .project4 {
  background-image: url(http://media.paes.uconn.edu/port/portfolio/img/csszengarden.jpg); }
#mywork .project5 {
  background-image: url(http://media.paes.uconn.edu/port/portfolio/img/wallvideo.jpg); }
#mywork .project6 {
  background-image: url(http://media.paes.uconn.edu/port/portfolio/img/dakota.jpg); }

.headshot {
  border-radius: 40px;
  margin: 0 auto;
  border-radius: 800px;
  height: 200px;
  width: 200px;
  border: 10px solid #1BBC9B; }

.pic-margin {
  margin-top: -30px; }

.margin-auto {
  margin: 0 auto; }

.work {
  background-color: #CDC7F2; }

/*Modals*/
.modal-width {
  width: 800px;
  height: 600px; }

.modal-title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 50px;
  margin-top: 10px; }

.modal-text {
  float: left;
  width: 300px;
  margin-left: 60px; }

.modal-pic {
  width: 400px;
  height: 300px;
  float: left;
  border: 2px solid black; }

.modal-button {
  margin-top: 40px;
  text-align: center;
  width: 100px;
  margin-left: 45%;
  background-color: white;
  border: 1px #1bbc9b solid;
  transition: all .5s linear;
  cursor: pointer;
  background-color: #ECF2C7; }

.modal-button:hover {
  border: 1px black solid;
  background-color: #1bbc9b; }

.modal-link {
  transition: all .5s linear; }

.modal-link:hover {
  color: white; }

/*Skills Page*/
.skills {
  margin-left: auto;
  margin-right: auto; }
  .skills h2 {
    font-size: 80px;
    margin-top: 15%; }
  .skills h4 {
    font-size: 50px; }

.center-box {
  width: 660px;
  margin: 0 auto; }

.center-box-open {
  width: 1400px; }

.language {
  width: 300px;
  height: 300px;
  background-color: orange;
  float: left;
  transition: all .5s linear; }

.program {
  width: 300px;
  height: 300px;
  background-color: orange;
  float: left;
  margin-left: 60px;
  transition: all .5s linear; }

.hide {
  display: none; }

.expand {
  transition: all .5s linear;
  width: 1400px;
  height: 500px;
  background-color: orange; }

@media screen and (min-width: 925px) {
  .headshot {
    width: 400px;
    Height: 400px;
    float: left;
    margin-left: 15%;
    margin-right: 6%; }

  .right-margin {
    margin-right: 5%;
    text-align: left;
    margin-left: 18%; }

  p {
    font-size: 40px; }

  h1 {
    font-size: 100px; }

  .logo-s {
    width: 500px;
    height: 500px; } }
/* Contact Page*/
#section3 p {
  margin-bottom: 5px; }

.input-box {
  height: 20px;
  width: 350px;
  border-radius: 5px;
  border: 2px solid #CAC6C6; }

.comments {
  height: 200px;
  width: 350px;
  border-radius: 5px;
  border: 2px solid #CAC6C6; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 5px; }

.btn-color {
  background-color: #ED3434;
  color: #D4C2C2;
  transition: all .5s linear; }

.btn-color:hover {
  background-color: #ED3434;
  color: white; }

/* Footer */
footer {
  display: block;
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: gray;
  z-index: 20;
  margin-right: 3px; }
  footer p {
    font-size: 10px;
    text-decoration: none; }

.test-arrow {
  border-right: 15px solid white;
  border-bottom: 15px solid white;
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #FFF;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }

.fp-controlArrow.fp-prev {
  border-right: 15px solid white;
  border-bottom: 15px solid white;
  width: 30px;
  height: 30px;
  transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  -webkit-transform: rotate(140deg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }

.fp-controlArrow.fp-prev {
  border-right: 15px solid white;
  border-bottom: 15px solid white;
  width: 30px;
  height: 30px;
  transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  -webkit-transform: rotate(140deg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-width: 0 20px 20px 0;
  left: 30px; }

.fp-controlArrow.fp-next {
  border-left: 15px solid white;
  border-bottom: 15px solid white;
  width: 30px;
  height: 30px;
  transform: rotate(-140deg);
  -moz-transform: rotate(-140deg);
  -webkit-transform: rotate(-140deg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-width: 0 0 20px 20px;
  right: 30px; }

.fp-controlArrow.fp-next:hover {
  border-left: 20px solid #1bbc9b;
  border-bottom: 20px solid #1bbc9b;
  transition: all .5s linear;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
  transition-duration: 0.6s; }

.fp-controlArrow.fp-prev:hover {
  border-right: 20px solid #1bbc9b;
  border-bottom: 20px solid #1bbc9b;
  transition: all .5s linear;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
  transition-duration: 0.6s; }

/*Arrow Down Animation*/
.element-animation {
  animation: animationFrames linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%; }

@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px) rotate(45deg); }
  25% {
    transform: translate(0px, 50px) rotate(45deg); }
  50% {
    transform: translate(0px, 30px) rotate(45deg); }
  73% {
    transform: translate(0px, 50px) rotate(45deg); }
  100% {
    transform: translate(0px, 0px) rotate(45deg); } }
@-moz-keyframes animationFrames {
  0% {
    -moz-transform: translate(0px, 0px) rotate(45deg); }
  25% {
    -moz-transform: translate(0px, 50px) rotate(45deg); }
  50% {
    -moz-transform: translate(0px, 30px) rotate(45deg); }
  73% {
    -moz-transform: translate(0px, 50px) rotate(45deg); }
  100% {
    -moz-transform: translate(0px, 0px) rotate(45deg); } }
@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(45deg); }
  25% {
    -webkit-transform: translate(0px, 50px) rotate(45deg); }
  50% {
    -webkit-transform: translate(0px, 30px) rotate(45deg); }
  73% {
    -webkit-transform: translate(0px, 50px) rotate(45deg); }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(45deg); } }
@-o-keyframes animationFrames {
  0% {
    -o-transform: translate(0px, 0px) rotate(45deg); }
  25% {
    -o-transform: translate(0px, 50px) rotate(45deg); }
  50% {
    -o-transform: translate(0px, 30px) rotate(45deg); }
  73% {
    -o-transform: translate(0px, 50px) rotate(45deg); }
  100% {
    -o-transform: translate(0px, 0px) rotate(45deg); } }
@-ms-keyframes animationFrames {
  0% {
    -ms-transform: translate(0px, 0px) rotate(45deg); }
  25% {
    -ms-transform: translate(0px, 50px) rotate(45deg); }
  50% {
    -ms-transform: translate(0px, 30px) rotate(45deg); }
  73% {
    -ms-transform: translate(0px, 50px) rotate(45deg); }
  100% {
    -ms-transform: translate(0px, 0px) rotate(45deg); } }
.fp-controlArrow.fp-next {
  animation: move-arrow-right linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: move-arrow-right linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: move-arrow-right linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: move-arrow-right linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: move-arrow-right linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%; }

@keyframes move-arrow-right {
  0% {
    transform: translate(0px, 0px) rotate(-140deg); }
  25% {
    transform: translate(20px, 0px) rotate(-140deg); }
  50% {
    transform: translate(10px, 0px) rotate(-140deg); }
  75% {
    transform: translate(30px, 0px) rotate(-140deg); }
  100% {
    transform: translate(0px, 0px) rotate(-140deg); } }
@-moz-keyframes move-arrow-right {
  0% {
    -moz-transform: translate(0px, 0px) rotate(-140deg); }
  25% {
    -moz-transform: translate(20px, 0px) rotate(-140deg); }
  50% {
    -moz-transform: translate(10px, 0px) rotate(-140deg); }
  75% {
    -moz-transform: translate(30px, 0px) rotate(-140deg); }
  100% {
    -moz-transform: translate(0px, 0px) rotate(-140deg); } }
@-webkit-keyframes move-arrow-right {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(-140deg); }
  25% {
    -webkit-transform: translate(20px, 0px) rotate(-140deg); }
  50% {
    -webkit-transform: translate(10px, 0px) rotate(-140deg); }
  75% {
    -webkit-transform: translate(30px, 0px) rotate(-140deg); }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(-140deg); } }
@-o-keyframes move-arrow-right {
  0% {
    -o-transform: translate(0px, 0px) rotate(-140deg); }
  25% {
    -o-transform: translate(20px, 0px) rotate(-140deg); }
  50% {
    -o-transform: translate(10px, 0px) rotate(-140deg); }
  75% {
    -o-transform: translate(30px, 0px) rotate(-140deg); }
  100% {
    -o-transform: translate(0px, 0px) rotate(-140deg); } }
@-ms-keyframes move-arrow-right {
  0% {
    -ms-transform: translate(0px, 0px) rotate(-140deg); }
  25% {
    -ms-transform: translate(20px, 0px) rotate(-140deg); }
  50% {
    -ms-transform: translate(10px, 0px) rotate(-140deg); }
  75% {
    -ms-transform: translate(30px, 0px) rotate(-140deg); }
  100% {
    -ms-transform: translate(0px, 0px) rotate(-140deg); } }
.fp-controlArrow.fp-prev {
  animation: move-arrow-left linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: move-arrow-left linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: move-arrow-left linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: move-arrow-left linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: move-arrow-left linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%; }

@keyframes move-arrow-left {
  0% {
    transform: translate(0px, 0px) rotate(140deg); }
  25% {
    transform: translate(-20px, 0px) rotate(140deg); }
  50% {
    transform: translate(-10px, 0px) rotate(140deg); }
  75% {
    transform: translate(-30px, 0px) rotate(140deg); }
  100% {
    transform: translate(0px, 0px) rotate(140deg); } }
@-moz-keyframes move-arrow-left {
  0% {
    -moz-transform: translate(0px, 0px) rotate(140deg); }
  25% {
    -moz-transform: translate(-20px, 0px) rotate(140deg); }
  50% {
    -moz-transform: translate(-10px, 0px) rotate(140deg); }
  75% {
    -moz-transform: translate(-30px, 0px) rotate(140deg); }
  100% {
    -moz-transform: translate(0px, 0px) rotate(140deg); } }
@-webkit-keyframes move-arrow-left {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(140deg); }
  25% {
    -webkit-transform: translate(-20px, 0px) rotate(140deg); }
  50% {
    -webkit-transform: translate(-10px, 0px) rotate(140deg); }
  75% {
    -webkit-transform: translate(-30px, 0px) rotate(140deg); }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(140deg); } }
@-o-keyframes move-arrow-left {
  0% {
    -o-transform: translate(0px, 0px) rotate(140deg); }
  25% {
    -o-transform: translate(-20px, 0px) rotate(140deg); }
  50% {
    -o-transform: translate(-10px, 0px) rotate(140deg); }
  75% {
    -o-transform: translate(-30px, 0px) rotate(140deg); }
  100% {
    -o-transform: translate(0px, 0px) rotate(140deg); } }
@-ms-keyframes move-arrow-left {
  0% {
    -ms-transform: translate(0px, 0px) rotate(140deg); }
  25% {
    -ms-transform: translate(-20px, 0px) rotate(140deg); }
  50% {
    -ms-transform: translate(-10px, 0px) rotate(140deg); }
  75% {
    -ms-transform: translate(-30px, 0px) rotate(140deg); }
  100% {
    -ms-transform: translate(0px, 0px) rotate(140deg); } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
